<!-- Start of HTML document -->
<!DOCTYPE html>
<html>
<head>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        /* CSS for the body element */
        body {
            /* Set the background color to white */
            background-color: white;
            /* Set the text color to a specific RGB color */
            color: rgb(199, 142, 254);
        }
        /* CSS for the header element */
        .header {
            /* Set the background color to a specific RGB color */
            background-color: rgb(12,72,64);
            /* Set the text color to white */
            color: white;
        }
    </style>
</head>
<body>
    <!-- Header section -->
    <div class="header">
        <!-- Logo image -->
            <div class="col-sm-6 text-left">
                <img src="/images/barnardoslogo.png" alt="Barnardos Logo">
            </div>
        <!-- Navigation menu -->
        <nav>
            <ul>
                <!-- List of navigation links -->
                <li><a href="/home" style="color: white;">Home</a></li>
                <li><a href="/about" style="color: white;">About</a></li>
                <li><a href="/contact" style="color: white;">Contact</a></li>
                <li><a href="/login" style="color: white;">Login</a></li>
                <li><a href="/signup" style="color: white;">Sign Up</a></li>
            </ul>
        </nav>
    </div>
    {{{body}}}
</body>
</html>
